@{
    ViewData["Title"] = "Политика в области обработки и защиты персональных данных";
}



<div class="container text-content">
    <h3 class="pt-3"><b>Договор-оферта на оказание услуг по разработке программного обеспечения</b></h3>
    <div>
        <p class="text-muted">Дата опубликования текущей версии: «17» сентября 2021 г.</p>
        <p>
            ООО «Просто Кэмп», именуемое в дальнейшем <b>Исполнитель</b>, адресует настоящий
            Договор-оферту (далее по тексту - Договор) любому лицу (неопределенному кругу лиц), именуемому в дальнейшем Заказчик,
            чья воля будет выражена им лично либо через уполномоченного представителя (ст.&nbsp;182, 185 Гражданского кодекса Российской Федерации),
            выразившему готовность воспользоваться услугами Исполнителя.
        </p>
        <p>
            Договор, согласно п. 2 ст. 437 Гражданского кодекса Российской Федерации, является публичной офертой, принятием условий (акцептом)
            которой является совершения действий, предусмотренных Договором.
        </p>
        <p>Безусловным принятием (акцептом) условий Договора считается заполнение Лицензиатом регистрационных форм в Системе либо авторизация через предложенные системой https://kempsoft.ru</p>

        <h3><b>Термины и определения</b></h3>
        <p><b>Оферта</b> — настоящий документ (Договор), размещенный в сети интернет по адресу: https://kempsoft.ru/oferta/oferta. В соответствии с Договором, слова <b>Оферта</b> и <b>Договор</b> являются равнозначными.</p>
        <p><b>Акцепт</b> — полное и безоговорочное принятие оферты путем осуществления действий, указанных в п. 2.1 Договора.</p>
        <p>
            <b>Исполнитель </b> — ООО «Просто Кэмп», разместившее договор-оферту.
        </p>
        <p>
            <b>Заказчик </b> — юридическое или физическое лицо, заключившее Договор посредством акцепта, на условиях, содержащихся в оферте.
        </p>
        <p>
            <b>Сайт Заказчика</b> — совокупность связанных между собой WEB-страниц, объединенных под одним доменным именем или IP-адресом, принадлежащий или используемый Заказчиком.
        </p>
        <p>
            <b>Контент</b> — информационное наполнение сайта.
        </p>
        <p>
            <b>Создание/сопровождение сайта</b> — услуги, оказываемые по отдельным запросам (заявкам) Заказчика по созданию и/или изменению сайта Заказчика; удаление или добавление информации на сайте Заказчика, изменение или добавление программных модулей и другие сопутствующие услуги.
        </p>
        <p>
            <b>Техническое задание (ТЗ)</b> — документ, описывающий функциональность создаваемого Сайта и/или комплекс мер по его сопровождению.
        </p>
        <h3><b>1. Предмет договора</b></h3>
        <p>1.1. Предметом Договора является оказание Исполнителем Заказчику услуг по разработке и/или сопровождению сайта Заказчика, указанных в п. 1.2 Договора, в порядке и на условиях настоящей оферты.</p>
        <p>1.2. В создание и сопровождение сайта Заказчика входит следующий перечень услуг:</p>
        <p>1.2.1. Редизайн: Изменение и совершенствование (доработка) внешнего вида сайта, оптимизация интерфейса и повышение удобства использования.</p>
        <p>1.2.2. Программирование: Исправление ошибок, разработка нового функционала, разработка модулей, компонентов, интеграция готовой вёрстки.</p>
        <p>1.2.3. Вёрстка: Вёрстка дизайн-макетов (процесс формирования файлов WEB-страниц или шаблонов WEB-страниц), исправление ошибок в коде страниц сайта, front-end полного цикла.</p>
        <p>1.2.4. Контент-менеджмент: Наполнение контентом и его изменение, создание новых разделов и страниц, обработка изображений с оптимизацией их размера.</p>
        <p>1.2.5. Аудит сайта: Совокупность мероприятий, нацеленных на получение информации о состоянии сайта по нескольким параметрам, на момент его проведения.</p>
        <p>1.2.6. Системное администрирование: Поддержка работоспособности сайта, создание и хранение резервных копий сайта, настройка серверов для оптимальной работы сайтов. Адаптация WEB-окружения под определенный проект. Архивация проекта, проверка на вирусы, удаление вредоносных программ. Экстренное восстановление сайта после сбоя, атаки.</p>
        <p>1.3. Услуги, предусмотренные п. 1.2 Договора, оказываются Исполнителем на основании подаваемых Заказчиком заявок.</p>
        <p>1.4. Договор является абонентским договором (договором с исполнением по требованию), предусмотренным ст. 429.4 ГК РФ.</p>
        <h3><b>2. Порядок заключения договора</b></h3>
        <p>2.1. Акцептом Договора является осуществление Заказчиком одного из следующих действий:</p>
        <p>2.1.1. Оформление Заказчиком заказа на интернет-странице https://kempsoft.ru, путём оплаты услуг Исполнителя с помощью перехода на платёжную систему</p>
        <p>2.1.2. Оплата Заказчиком выставленного Исполнителем счета на оплату услуг путём перечисления денежных средств на расчётный счёт Исполнителя в "ПАО Сбер Банк".</p>
        <p>2.2. Осуществляя акцепт Договора в порядке, определенном п. 2.1 Договора, Заказчик гарантирует, что ознакомлен, соглашается, полностью и безоговорочно принимает все условия Договора.</p>
        <p>2.3. Заказчик понимает, что акцепт Договора равносилен заключению Договора на условиях, изложенных в Договоре.</p>
        <p>2.4. Оферта вступает в силу с момента размещения в сети Интернет по адресу https://kempsoft.ru/oferta/oferta и действует до момента отзыва оферты.</p>
        <h3><b>3. Права и обязанности сторон</b></h3>
        <h5><b>3.1. Заказчик обязуется:</b></h5>
        <p>3.1.1. Оплачивать услуги в порядке, размере и в сроки, предусмотренные Договором.</p>
        <p>3.1.2. Предоставить Исполнителю доступ к программному коду информационного ресурса (к его файлам и базам данных), а также иные необходимые материалы, необходимые для выполнения Исполнителем поставленных перед ним задач (заявок).</p>
        <p>3.1.3. Принять от Исполнителя оказанные услуги.</p>
        <p>3.1.4. Своевременно передавать все необходимые документы и информацию.</p>
        <p>3.1.5. Не использовать информацию, полученную от Исполнителя способами, могущими привести к нанесению ущерба интересам Исполнителя.</p>
        <h5><b>3.2. Исполнитель обязуется:</b></h5>
        <p>3.2.1. Оказать услуги, предусмотренные в п. 1.2 Договора, в соответствии с Заданием заказчика. Задание разрабатывается и согласовывается Сторонами дополнительно и является основанием оценки выполненных работ на предмет соответствия требованиям Заказчика.</p>
        <p>3.2.2. Предпринимать все необходимые меры для защиты известных Исполнителю персональных данных Заказчика, а также данных в системе Заказчика, включающих аккаунты клиентов, телефоны, электронную почту, почтовые адреса и другую персональную информацию. Использовать все личные данные и иную конфиденциальную информацию о Заказчике и его клиентах только для оказания услуг по Договору, не передавать и не показывать третьим лицам находящуюся у него документацию и информацию о Заказчике и его клиентах.</p>
        <p>3.2.3. Не передавать права доступа к сайту Заказчика третьим лицам и не использовать их иным образом, способным привести к нанесению ущерба интересам Заказчика.</p>
        <h5><b>3.3. Заказчик вправе:</b></h5>
        <p>3.3.1. Требовать от Исполнителя надлежащего и своевременного оказания услуг.</p>
        <p>3.3.2. Проверять ход и качество оказываемых услуг, не вмешиваясь при этом в оперативно-хозяйственную деятельность Исполнителя.</p>
        <p>3.3.3. Обращаться к Исполнителю по всем вопросам, связанным с оказанием услуг по Договору.</p>
        <h5><b>3.4. Исполнитель вправе:</b></h5>
        <p>3.4.1. Самостоятельно определять формы и методы оказания услуг исходя из требований Заказчика, а также конкретных условий Договора и соответствующих заявок Заказчика.</p>
        <p>3.4.2. Самостоятельно проводить оценку заявок Заказчика в порядке, предусмотренном п. 4.3 Договора.</p>
        <p>3.4.3. Требовать оплаты по Договору.</p>
        <p>3.4.4. Получать от Заказчика информацию, необходимую для выполнения своих обязательств по Договору. В случае непредоставления либо неполного или неверного предоставления Заказчиком информации, Исполнитель вправе приостановить исполнение своих обязательств по Договору.</p>
        <p>3.4.5. Расторгнуть Договор или приостановить исполнения своих обязательств по Договору в случае нарушения Заказчиком условий Договора.</p>

        <h3><b>4. Порядок оказания услуг</b></h3>
        <p>4.1. Услуги, предусмотренные Договором, оказываются Исполнителем на основании выставленной Заказчиком заявки, в которой Заказчик самостоятельно определяет перечень необходимых услуг.</p>
        <p>4.2. Заказчик оформляет Заявки путем их направления на контактные данные Исполнителя, указанные на странице «Контакты» по адресу в сети Интернет https://kempsoft.ru/home/privacy</p>
        <p>4.3. После получения заявки Исполнителем производится её оценка, в ходе которой определяется необходимое количество времени и перечень необходимых услуг для выполнения Заявки (если Заказчиком он не определен или является неверным), а также стоимость работы.</p>
        <p>В процессе выполнения заявки перечень необходимых услуг, необходимое количество времени для их выполнения и стоимость могут меняться, о чем Исполнитель уведомляет Заказчика.</p>
        <p>4.4. В случае несогласия Заказчика с перечнем необходимых услуг и/или необходимым количеством времени для выполнения заявки, Заказчик в течение 1 рабочего дня уведомляет Исполнителя о причинах, по которым он считает эту оценку недопустимой.</p>
        <p>Уведомление Исполнителя осуществляется тем же путём, что и оформление заявок, описанное в п. 4.2.</p>
        <p>4.5. При наличии споров в оценке полученной Исполнителем заявки и недостижении согласия в течение 3-х рабочих дней, заявка считается отозванной заказчиком.</p>
        <p>4.6. При отсутствии разногласий между Сторонами Исполнитель приступает к выполнению заявки в оговоренное с Заказчиком время.</p>
        <p>4.7. Услуги, предусмотренные Договором, оказываются Заказчику дистанционно, посредством сети Интернет, для чего Заказчик предоставляет Исполнителю доступ к административной панели сайта Заказчика и иным данным, предусмотренным п. 3.1.2 Договора.</p>
        <p>4.8. Заказчик вправе подать Исполнителю неограниченное количество заявок.</p>

        <h3><b>5. Сроки оказания услуг</b></h3>
        <p>5.1. Срок оказания Услуг по созданию и/или Сопровождению сайта определяется Исполнителем в соответствии с п. 4.3 Договора.</p>

        <h3><b>6. Права на результаты интеллектуальной деятельности</b></h3>
        <p>6.1. Исключительные права на результаты интеллектуальной деятельности, возникшие в результате исполнения Договора, а равно на составные части, элементы таких результатов, а также иные права на результаты исполнения Договора, которые не являются охраняемыми результатами интеллектуальной деятельности, принадлежат Исполнителю.</p>
        <p>6.2. Исполнитель приобретает исключительные права на результаты интеллектуальной деятельности, предусмотренные п. 6.1 Договора, и иные объекты интеллектуальной собственности, созданные по Договору, включая составные и производные произведения, являющиеся самостоятельными объектами авторского права, части произведения, которые имеют самостоятельное значение, иные объекты интеллектуальной собственности.</p>
        <p>6.3. Заказчик вправе использовать результаты интеллектуальной деятельности в целях, для достижения которых был заключен Договор, на условиях безвозмездной простой (неисключительной) лицензии, в течение всего срока действия исключительного права, и всеми способами, разрешенными Заказчику законодательством Российской Федерации (п. 2 ст. 1270 ГК РФ).</p>
        <p>6.4. Использование Заказчиком исключительных прав, предусмотренных п. 6.1 Договора, территорией не ограничено (весь мир) и осуществляется без представления Исполнителю отчета об использовании результата интеллектуальной деятельности.</p>

        <h3><b>7. Стоимость услуг и порядок расчетов</b></h3>
        <p>7.1. Стоимость услуг по настоящему договору определяет Исполнитель исходя из объёма выполненных работ.</p>
        <p>7.2. Стоимость услуг включает в себя сумму расходов Исполнителя, связанных с оказанием Услуг.</p>
        <p>7.3. Оплата по Договору осуществляется в течение 5 (пяти) банковских дней со дня осуществления Сторонами сдачи-приема услуг в соответствии с условиями Договора.</p>
        <p>7.4. Стоимость услуг по Договору не облагается НДС на основании применения Исполнителем НПД (налога на профессиональный доход).</p>
        <p>7.5. Исполнитель вправе в одностороннем порядке изменить стоимость оказываемых услуг, о чем Исполнитель уведомляет Заказчика. Уведомление направляется в течение 7 календарных дней со дня изменения стоимости на электронную почту или в Skype Заказчика и/или посредством звонка на телефонный номер Заказчика.</p>
        <p>Стоимость предварительно оплаченных услуг изменению не подлежит.</p>
        <p>7.6. Способ оплаты по Договору: перечисление Заказчиком денежных средств в валюте Российской Федерации (рубль) на расчетный счет Исполнителя в "Точка ПАО Банка «ФК Открытие»" либо посредством платёжной формы «ЮKassа», расположенной на сайте Исполнителя по адресу https://kempsoft.ru. При этом обязанности Заказчика в части оплаты по Договору считаются исполненными со дня списания денежных средств банком Заказчика со счета Заказчика.</p>

        <h3><b>8. Порядок сдачи-приема услуг</b></h3>
        <p>8.1. В течение 5 календарных дней по завершении работ по заявке Заказчика Исполнитель напрявляет Заказчику почтой Акт сдачи-приемки оказанных услуг (далее по тексту - Акт).</p>
        <p>8.2. Вместе с Актом Исполнитель представляет Заказчику бумажный оригинал счёта на оплату услуг.</p>
        <p>8.3. В течение 5 календарных дней со дня получения Акта и документов, указанных в п. 8.2 Договора, Заказчик обязан подписать и вернуть Акт Исполнителю или направить Исполнителю мотивированный отказ от приема услуг и подписания Акта.</p>
        <p>8.4. Подписанный Заказчиком Акт или мотивированный отказ от приемки услуг и подписания Акта направляются Заказчиком почтой.</p>
        <p>8.5. Услуги считаются оказанными в надлежащем виде, если Заказчик в течение 5 календарных дней со дня получения Акта не предъявит Исполнителю письменных требований о несоответствии оказанных услуг.</p>
        <p>8.6. Оплата услуг со стороны Заказчика является подтверждением приемки услуг и подписания Акта.</p>
        <p>8.7. При наличии обоснованных письменных требований Заказчика о несоответствии оказанных услуг, Стороны устанавливают срок для их устранения, который дополнительно Заказчиком не оплачивается.</p>

        <h3><b>9. Персональные данные</b></h3>
        <p>9.1. Для выполнения условий Договора Заказчик соглашается предоставить и дает согласие на обработку персональных данных в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных» на условиях и для целей выполнения условий Договора. Под «персональными данными» понимается персональная информация, которую Заказчик предоставляет о себе самостоятельно для совершения акцепта.</p>
        <p>9.2. Исполнитель гарантирует конфиденциальность в отношении персональных данных Заказчика и обеспечивает соблюдение конфиденциальности и безопасности персональных данных при их обработке.</p>

        <h3><b>10. Ответственность сторон</b></h3>
        <p>10.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по Договору в соответствии с законодательством России.</p>

        <h3><b>11. Основания изменения и расторжения договора</b></h3>
        <p>11.1.Договор может быть расторгнут по соглашению Сторон, а также в одностороннем порядке по письменному требованию одной из Сторон по основаниям, предусмотренным законодательством.</p>
        <p>11.2. Исполнитель вправе в любое время в одностороннем (внесудебном) порядке внести изменения в условия Договора. Изменения в условия Договора вступают в силу с момента их размещения способом, установленном для размещения оферты.</p>

        <h3><b>12. Разрешение споров из договора</b></h3>
        <p>12.1. Претензионный порядок является обязательным. Спор может быть передан на разрешение арбитражного суда после принятия сторонами мер по досудебному урегулированию по истечении 30 календарных дней со дня направления претензии.</p>
        <p>12.2. Споры из Договора разрешаются в судебном порядке в соответствии с законодательством.</p>

        <h3><b>13. Обстоятельства непреодолимой силы (форс-мажор)</b></h3>
        <p>13.1. Стороны освобождаются от ответственности за полное или частичное неисполнение обязательств по Договору в случае, если неисполнение обязательств явилось следствием действий непреодолимой силы, а именно: пожара, наводнения, землетрясения, забастовки, войны, действий органов государственной власти или других независящих от Сторон обстоятельств.</p>
        <p>13.2. Сторона, которая не может выполнить обязательства по Договору, должна своевременно, но не позднее 7 календарных дней после наступления обстоятельств непреодолимой силы, письменно известить другую Сторону, с предоставлением обосновывающих документов, выданных компетентными органами.</p>
        <p>13.3. Стороны признают, что неплатежеспособность Сторон не является форс-мажорным обстоятельством.</p>

        <h3><b>14. Прочие условия</b></h3>
        <p>14.1. Стороны признают, что если какое-либо из положений Договора становится недействительным в течение срока его действия вследствие изменения законодательства, остальные положения Договора обязательны для Сторон в течение срока действия Договора.</p>

        <h3><b>Реквизиты Исполнителя</b></h3>
        <div>
            <p>
                <b>Полное наименование:</b> Общество с ограниченной ответственностью
                «Просто Кэмп»
            </p>
            <p>
                <b>Сокращенное наименование:</b> ООО «Просто Кэмп»
            </p>
            <p><b>Юридический/Почтовый адрес:</b> 125368, г. Москва, ул. Барышиха, д. 18, ЭТ 1 ПОМ 3 КОМ 5</p>
            <p><b>ИНН:</b> 7733353585</p>
            <p><b>КПП:</b> 773301001</p>
            <p><b>ОГРН:</b> 1207700123795 от  18.03.2020</p>
            <p><b>Банк:</b> ПАО СБЕРБАНК</p>
            <p><b>Расчетный счет:</b> 4070281063800025743</p>
            <p><b>БИК Банка:</b> 044525225</p>
            <p><b>Телефон/факс:</b> +7-962-900-79-65</p>
            <p><b>e-mail</b> admin@kempsoft.ru</p>
            <p><b>Генеральный директор:</b> Лунёв Алексей Михайлович</p>
        </div>
    </div>
</div>
