@{
    ViewData["Title"] = "Политика в области обработки и защиты персональных данных";
}



<div class="container text-content">
    <h3 class="pt-3"><b>Политика в области обработки и защиты персональных данных</b></h3>
    <div>
        <p class="text-muted">Дата опубликования текущей версии: «12» сентября 2021 г.</p>
        <p>
            Настоящий документ определяет политику Общества с ограниченной ответственностью «Просто Кэмп» в области обработки и защиты персональных данных (далее — Политика). Политика действует в отношении всех персональных данных, которые ООО «Просто Кэмп» может получить от субъекта персональных данных.
            Термины и определения
        </p>
        <p><b>Договор</b> — лицензионный договор о предоставлении права использования Системой, который заключается с ООО "Просто Кэмп".</p>
        <p><b>Сайт</b> — сайт Оператора, размещенный по адресу https://kempsoft.ru, включая поддомены.</p>
        <p><b>Система</b> — сервис Оператора, который расположен по адресу: https://kempsoft.ru и предназначен для разработки программного обеспечения веб-сайтов</p>
        <p><b>Оператор</b> — ООО "Просто Кэмп".</p>
        <p><b>Персональные данные</b> — любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю.</p>
        <p><b>Пользователь</b> — физическое лицо, использующее Сайт.</p>
        <p><b>Согласие</b> — согласие на Обработку Персональных данных Пользователя, размещенное по адресу https://kempsoft.ru.</p>
        <p><b>Обработка Персональных данных (Обработка)</b> — любое действие (операция) или совокупность действий (операций) с Персональными данными, совершаемых с использованием средств автоматизации или без их использования. Обработка включает в себя, в том числе: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.</p>
        <p><b>2. Общие положения</b></p>
        <p>2.1. Политика является локальным документом Оператора, определяющим порядок Обработки и защиты Персональных данных Пользователей.</p>

        <p>2.2. Оператор разработал Политику в соответствии с Конституцией РФ, Федеральным законом от 27.07.2006 г. №152-ФЗ «О персональных данных», другими нормативными правовыми актами, определяющими порядок работы с персональными данными и требованиями к обеспечению их безопасности.</p>

        <p>2.3. Назначением Политики является:</p>

        <p>2.3.1. обеспечение защиты прав и свобод человека и гражданина при обработке его Персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну;</p>

        <p>2.3.2.четкое и неукоснительное соблюдение требований законодательства Российской Федерации в области персональных данных;</p>

        <p>2.3.3. исключение несанкционированных действий любых третьих лиц по Обработке;</p>

        <p>2.3.4. предотвращение возникновения возможной угрозы безопасности Пользователей.</p>

        <p>2.4. Оператор самостоятельно организует и (или) осуществляет обработку Персональных данных, определяет их состав и цели Обработки, действия (операции), совершаемые с Персональными данными.</p>

        <p>2.5. Оператор опубликовал политику по адресу: https://kempsoft.ru. Оператор предоставляет Политику любому лично обратившемуся лицу.</p>

        <p>2.6. Оператор вправе вносить изменения в Политику. Новая редакция Политики вступает в силу с момента ее опубликования.</p>
        <p><b>3. Цели Обработки Персональных данных</b></p>

        <p>3.1. Оператор обрабатывает Персональные данные в целях заключения и исполнения Договора в том числе:</p>

        <p>Обработки заказов на предоставление Оператором права использования Системы, оказание им услуг.</p>

        <p>Предоставления доступа к Личному кабинету — в целях использования Системы.</p>

        <p>Связи с Пользователями — в целях предоставления необходимой информации, связанной с деятельностью Системы или Оператора. В том числе, но не ограничиваясь, предоставление информации о работе с Системой, о доступности нового функционала, уведомления с обновлениями Системы, рекомендации по настройкам функционала. Для связи Оператор вправе использовать указанный Пользователем адрес электронной почты.</p>

        <p>Получения от Пользователя обратной связи — в целях получения информации об удовлетворенности работе с Системой и ее функционалом, которая применяется для анализа по улучшению качества Системы и проведения исследований любых категорий.</p>

        <p>Защиты конфиденциальности Персональных данных, работоспособности и безопасности Системы, для подтверждения совершаемых Пользователем действий, для осуществления действий, направленных на предотвращение случаев мошенничества, кибератак и других злоупотреблений, а также для расследования таких случаев.</p>

        <p><b>4. Принципы Обработки Персональных данных</b></p>
        <p>4.1. Оператор обрабатывает Персональные данные на основе следующих принципов:</p>

        <p>законная и справедливая основа Обработки;</p>

        <p>обработка в соответствии с конкретными, заранее определенными и законными целями;</p>

        <p>недопущение объединения баз данных, содержащих Персональные данные, Обработка которых осуществляется в целях, несовместимых между собой;</p>

        <p>соответствие содержания и объема Персональных данных заявленным целям Обработки;</p>

        <p>точность, достаточность, актуальность и достоверность Персональных данных;</p>

        <p>законность технических мер, направленных на Обработку;</p>

        <p>разумность и целесообразность Обработки;</p>

        <p>хранение Персональных данных не дольше, чем этого требуют цели Обработки, если срок хранения не установлен Законом, договором, стороной которого является Пользователь;</p>

        <p>уничтожение или обезличивание Персональных данных по достижении целей Обработки или в случае утраты необходимости в их достижении, если иное не предусмотрено Законом.</p>

        <p><b>5. Перечень обрабатываемых Персональных данных</b></p>
        <p>5.1. Общие Персональные данные, в том числе: имя, фамилия, отчество, номер телефона, адрес электронной почты.</p>

        <p>5.2. Иные данные об использовании Сайта, в том числе:</p>

        <p>5.2.1. данные о технических средствах (устройствах): IP-адрес, вид операционной системы, тип браузера, географическое положение, поставщик услуг сети Интернет.</p>

        <p>5.2.2. сведения о поведении Пользователя на Сайте (в том числе дата, время и количество посещений, сведения о посещенных страницах, о переходе с других ресурсов, о направленных заявках).</p>

        <p>5.2.3. информация, автоматически получаемая при доступе к Сайту, в том числе с использованием файлов cookies. Файлы cookies представляют собой фрагменты текста, который автоматически сохраняется в память интернет-браузера Пользователя. Это позволяет Сервису в необходимых случаях обращаться к сохраненной информации на компьютере Пользователя и извлекать ее. Вы вправе изменить настройки своего интернет-браузера и отказаться от сохранения файлов cookies.</p>

        <p>5.3. Персональные данные, загружаемые Пользователем, обрабатываются «как есть», то есть все, то введет Пользователь будет использоваться в дальнейшей обработке без изменений.</p>

        <p>5.4. Оператор не проверяет:</p>

        <p>дееспособность Пользователя;</p>

        <p>достоверность предоставленных Пользователем Персональных данных.</p>

        <p>5.5. Пользователь гарантирует:</p>

        <p>предоставленные Персональные данные являются достоверными, актуальными и не нарушают законодательство Российской Федерации;</p>

        <p>получение согласия третьего лица на передачу Персональных данных Оператору, последующую Обработку, в случае, если Персональные данные относятся к третьему лицу.</p>

        <p><b>6. Обработка Персональных данных</b></p>
        <p>6.1. Субъекты Персональных данных:</p>

        <p>6.1.1. Пользователи, которые указали данные в формах Сайта при заказе на предоставление права использования Системой, обратной связи и прочее.</p>

        <p>6.1.2. Пользователи, просматривающие Сайт.</p>

        <p>6.2. Оператор осуществляет сбор Персональных данных следующими способами:</p>

        <p>6.2.1. Пользователь предоставляет данные при заполнении форм Сайта, с помощью средств коммуникации, в том числе по телефону, по электронной почте и др.;</p>

        <p>6.2.2. автоматический сбор данных о Пользователе с помощью технологий и сервисов: веб-протоколы, файлов "cookie", веб-отметки, которые запускаются только при вводе Пользователем своих данных.</p>

        <p>6.3. Оператор осуществляет хранение Персональных данных:</p>

        <p>6.3.1. исключительно на должным образом защищенных электронных носителях, в том числе электронных;</p>

        <p>6.3.2. на Сайте с применением автоматизированной обработки, за исключением случаев, когда неавтоматизированная Обработка необходима в связи с исполнением требований законодательства Российской Федерации.</p>

        <p>6.3.3. с использованием баз данных, находящихся на территории Российской Федерации.</p>

        <p>6.3.4. сроки хранения Персональных данных определены условиями Согласия: данные начинают хранится с момента дачи Согласия.</p>

        <p>6.4. Оператор не распространяет и не предоставляет Персональные данные третьим лицам без письменного согласия Пользователя, за исключением следующих случаев:</p>

        <p>6.4.1.исполнение условий Договора;</p>

        <p>6.4.2. в целях предупреждения, пресечения незаконных действий Пользователя и защиты законных интересов Оператора и третьих лиц, а также в случаях, установленных законодательством Российской Федерации;</p>

        <p>6.4.3. по мотивированному запросу судебных органов, органов государственной безопасности, прокуратуры, полиции, в следственные органы, в иные органы и организации в случаях, установленных нормативными правовыми актами, обязательными для исполнения.</p>

        <p>6.5. Оператор предупреждает получающих лиц о том, что передаваемые данные могут быть использованы лишь в целях, для которых они сообщены.</p>

        <p>6.6. В случае подтверждения факта неточности Персональных данных Оператор актуализирует их.</p>

        <p>6.7. Оператор уничтожает Персональные данные в следующих случаях:</p>

        <p>наличие угрозы безопасности Сайта;</p>
        <p>истечение срока хранения Персональных данных;</p>
        <p>нарушение условий Договора;</p>
        <p>прекращение действия или расторжение Договора;</p>
        <p>по запросу Пользователя.</p>

        <p>6.8. Оператор удаляет всю полученную от Пользователя информацию при отзыве им Согласия. Право использования Сайта прекращается.</p>

        <p>6.9. Оператор вправе временно прекратить обработку Персональных данных, т.е. блокировать Обработку (за исключением случаев, если Обработка необходима для уточнения Персональных данных).</p>

        <p><b>7. Права Пользователя</b></p>
        <p>7.1. Пользователь вправе направить Оператору запрос в порядке, предусмотренном Политикой, на получение информации об Обработке, в том числе содержащей:</p>

        <p>7.1.1. подтверждение факта Обработки;</p>

        <p>7.1.2. правовые основания Обработки;</p>

        <p>7.1.3. цели и применяемые Оператором способы Обработки;</p>

        <p>7.1.4. какие именно Персональные данные обрабатываются и источник их получения;</p>

        <p>7.1.5. сроки Обработки, в том числе сроки хранения Персональных данных;</p>

        <p>7.1.6. порядок осуществления прав, предусмотренных законодательством Российской Федерации;</p>

        <p>7.1.7. информацию об осуществленной или о предполагаемой трансграничной передаче данных;</p>

        <p>7.1.8. сведения о лицах, которым могут быть раскрыты Персональные данные на основании договора с Оператором или в соответствии с законодательством Российской Федерации;</p>

        <p>7.1.9. наименование или фамилию, имя, отчество и адрес лица, осуществляющего Обработку по поручению Оператора, если Обработка поручена или будет поручена такому лицу;</p>

        <p>7.10. иные сведения, предусмотренные законодательством Российской Федерации.</p>

        <p><b>8. Обязанности Оператора</b></p>

        <p>8.1. Оператор обязан:</p>

        <p>8.1.1. по запросу Пользователя предоставлять информацию об Обработке или обоснованный отказ;</p>

        <p>8.1.2. принимать меры, необходимые и достаточные для обеспечения выполнения обязанностей, предусмотренных законодательством Российской Федерации.</p>

        <p>8.1.3. по требованию Пользователя уточнять обрабатываемые Персональные данные, блокировать или удалять, если они являются неполными, устаревшими, неточными, незаконно полученными или ненужными для заявленной цели Обработки;</p>

        <p>8.1.4. обеспечить правомерность Обработки. В случае, если обеспечить правомерность Обработки невозможно, Оператор в срок, не превышающий 10 (десять) рабочих дней с даты выявления неправомерной Обработки, обязан Персональные данные уничтожить или обеспечить их уничтожение;</p>

        <p>8.1.5. прекратить Обработку и уничтожить Персональные данные (если их сохранение более не требуется для целей Обработки) в срок, не превышающий 30 (тридцать) дней с даты поступления от Пользователя отзыва Согласия, за исключением случаев, когда Обработка может быть продолжена в соответствии с законодательством Российской Федерации.</p>

        <p><b>9. Меры по обеспечению защиты Персональных данных</b></p>

        <p>9.1. Оператор обеспечивает реализацию правовых, организационных и технических мер, необходимых и достаточных для обеспечения защиты Персональных данных.</p>

        <p>9.2. Правовые меры включают:</p>

        <p>9.2.1. разработку Оператором локальных документов, реализующих требования российского законодательства, в том числе – Политики и размещение ее на Сайте;</p>

        <p>9.2.2. отказ от любых способов Обработки, не соответствующих целям, заранее предопределенным Оператором.</p>

        <p>9.3. Организационные меры включают:</p>

        <p>9.3.1. назначение лица, ответственного за организацию Обработки;</p>

        <p>9.3.2. ограничение состава работников Оператора, имеющих доступ к Персональным данным, и организацию разрешительной системы доступа к ним;</p>

        <p>9.3.3. инструктаж и ознакомление работников Оператора, осуществляющих Обработку, с положениями законодательства Российской Федерации о персональных данных, в том числе с требованиями к защите персональных данных, с локальными актами Оператора, регламентирующими порядок работы и защиты персональных данных;</p>

        <p>9.3.4. периодическая оценка рисков, касающихся процесса Обработки;</p>

        <p>9.3.5. проведение периодических проверок в целях осуществления внутреннего контроля соответствия Обработки требованиям законодательства Российской Федерации.</p>

        <p>9.4. Технические меры:</p>

        <p>9.4.1. предотвращение, в том числе путем проведение внутренних расследований, несанкционированного доступа к системам, в которых хранятся Персональные данные;</p>

        <p>9.4.2. резервирование и восстановление Персональных данных, работоспособности технических средств и программного обеспечения, средств защиты информации в информационных системах Персональных данных;</p>

        <p>9.4.3. иные необходимые меры безопасности.</p>

        <p><b>10. Ограничение действия Политики</b></p>

        <p>10.1. Действие Политики распространяется исключительно на Сайт и не применяется к другим интернет-ресурсам.</p>

        <p>10.2. Оператор не несет ответственности за действия третьих лиц, получивших доступ к Персональным данным Пользователя по его вине.</p>

        <p><b>11. Обращения Субъекта персональных данных</b></p>

        <p>11.1. Пользователь или его представитель вправе направить Оператору свои обращения/запросы, в том числе относительно Обработки, отозвать согласие на Обработку:</p>

        <p>11.1.1. в письменной форме по адресам в разделе Контакты</p>

        <p>11.1.2. в форме электронного документа по адресу электронной почты: admin@kempsoft.ru.</p>

        <p>11.2. Запрос должен содержать следующую информацию:</p>

        <p>11.2.1. сведения о документе, удостоверяющего личность Пользователя;</p>

        <p>11.2.2. сведения, подтверждающие участие Пользователя в отношениях с Оператором (номер телефона, адрес электронной почты, указанный при оставлении заявки на Сайте);</p>

        <p>11.2.3. данные представителя и подтверждение его полномочий (при обращении представителя).</p>

        <p>11.2.4. подпись Пользователя (представителя).</p>

        <p>11.3. Оператор обязуется рассмотреть и направить ответ на поступивший запрос в течение 30 (тридцати) календарных дней с момента поступления обращения.</p>

        <p>11.4. Вся корреспонденция, полученная Оператором (обращения в письменной или электронной форме), относится к информации ограниченного доступа и не разглашается без письменного согласия Пользователя.</p>
    </div>
</div>
