@model int

@{
    ViewData["Title"] = "Заказ успешно оплачен!";
}



<div class="container text-content">
    <h3 class="pt-3">Заказ успешно оплачен! В ближайшее время с Вами свяжутся специалисты для уточнения деталей работы</h3>
    
</div>