@{
    ViewData["Title"] = "разработка веб сайтов";
}

<section class="present-block pb-5">
    <div class="container-xl present-block__header">
        <div class="row">
            <div class="col-12 col-lg-6 justify-content-center align-items-center d-flex text-center text-lg-start">
                <div>
                    <h1 class="text-uppercase header-section">Просто Кэмп</h1>
                    <h2 class="mt-3">Разрабатываем лучшие сайты для Ваших целей</h2>
                    <div class="row mt-5">
                        <div class="col-lg col-12">
                            <div class="d-flex justify-content-center justify-content-lg-start align-items-center">
                                <img class="present-block__item-img" src="~/img/money-bag.png" alt="item">
                                <h3 class="m-0 pr-3">От 10 000 ₽</h3>
                            </div>
                        </div>
                        <div class="col-lg col-12 mt-3 mt-lg-0">
                            <div class="d-flex justify-content-center justify-content-lg-start align-items-center">
                                <img class="present-block__item-img" src="~/img/deadline.png" alt="item">
                                <h3 class="m-0 pr-3">Точные сроки согласно договору</h3>
                            </div>
                        </div>
                    </div>
                    <div class="present-block_button-price container p-0">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <a class="btn w-100 p-3" href="#">Цены на услуги</a>
                            </div>
                            <div class="col-lg-6 col-12 mt-3 button-project mt-lg-0">
                                <a class="btn btn-primary p-3 w-100" href="#">Проекты</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg col-12 lending-head__img mt-5 mt-lg-0">
                <img src="~/img/headerlending.png" alt="lending">
            </div>
        </div>
        <div class="row stack-items">
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/hashtag.png" alt="item">
                    <h3 class="m-0 pr-3">C#</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/aspnet.png" alt="item">
                    <h3 class="m-0 pr-3">ASP.NET 5</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/mssql.png" alt="item">
                    <h3 class="m-0 pr-3">MS SQL Server</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/postgres.png" alt="item">
                    <h3 class="m-0 pr-3">PostgreSQL</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/efcore.png" alt="item">
                    <h3 class="m-0 pr-3">EF Core</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/git.png" alt="item">
                    <h3 class="m-0 pr-3">GIT</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/docker.png" alt="item">
                    <h3 class="m-0 pr-3">Docker</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/vue.png" alt="item">
                    <h3 class="m-0 pr-3">VUE JS 3</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/webpack.png" alt="item">
                    <h3 class="m-0 pr-3">Webpack</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/iis.png" alt="item">
                    <h3 class="m-0 pr-3">IIS</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/elk.png" alt="item">
                    <h3 class="m-0 pr-3">ELK</h3>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="p-3 d-flex justify-content-center justify-content-lg-start align-items-center">
                    <img class="present-block__item-img" src="~/img/icons/rabbitmq.png" alt="item">
                    <h3 class="m-0 pr-3">RabbitMQ</h3>
                </div>
            </div>
        </div>
        <div class="row present-block__items">
            <div class="col-lg col-12 mt-3 mt-lg-0">
                <div class="present-block__item p-3">
                    <h5>Лучшие цены</h5>
                    <div>
                        Гарантия наивыгодных цен для Вас!
                    </div>
                </div>
            </div>
            <div class="col-lg col-12 mt-3 mt-lg-0">
                <div class="present-block__item p-3">
                    <h5>14.7%</h5>
                    <div>
                        Средняя конверсия наших проектов
                    </div>
                </div>
            </div>
            <div class="col-lg col-12 mt-3 mt-lg-0">
                <div class="present-block__item p-3">
                    <h5>10 рабочих дней</h5>
                    <div>
                        Средний срок разработки сайта
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pb-5">
    <div class="container-xl our-cases-block">
        <h3 class="header-section text-center text-lg-start">Наши кейсы</h3>
        <div class="case-item mt-5 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="case-item__img">
                            <img src="~/img/virtcards.jpg" alt="imagesite">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5 class="mt-3 case-item__header">Зарплатный проект</h5>
                        <div class="case-item__about mt-3">
                            Корпоративный проект для учета выплат зарплат сотрудникам на банковские карты
                            с помощью эквайринговой системы
                        </div>
                        <div class="case-item__watch-button mt-3 d-flex justify-content-lg-start justify-content-center">
                            <a class="btn p-3 w-50" href="#">Смотреть кейс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-item mt-5 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="case-item__img">
                            <img src="~/img/osdn.jpg" alt="imagesite">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5 class="mt-3 case-item__header">Дизайн интерьера</h5>
                        <div class="case-item__about mt-3">
                            Проект по дизайну интерьеров строительных объектов, а также по выполнению
                            ремонтно-отделочных работ с удобным калькулятором расчета цен
                        </div>
                        <div class="case-item__watch-button mt-3 d-flex justify-content-lg-start justify-content-center">
                            <a class="btn p-3 w-50" href="#">Смотреть кейс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-item mt-5 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="case-item__img">
                            <img src="~/img/moneysend.jpg" alt="imagesite">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5 class="mt-3 case-item__header">Обменный пункт</h5>
                        <div class="case-item__about mt-3">
                            Обменный пункт по выдаче денежных средств с учетом комиссионных сборов организации,
                            которые отражены в реактивном калькуляторе, расположенном прямо на главной странице
                        </div>
                        <div class="case-item__watch-button mt-3 d-flex justify-content-lg-start justify-content-center">
                            <a class="btn p-3 w-50" href="#">Смотреть кейс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-item mt-5 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="case-item__img">
                            <img src="~/img/prostokemp.jpg" alt="imagesite">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5 class="mt-3 case-item__header">Туристическое агентство</h5>
                        <div class="case-item__about mt-3">
                            Проект туристического агентства по подбору путевок в страны отдыха с учетом
                            особенностей, а также с возможностью оплаты через интернет-эквайринг
                        </div>
                        <div class="case-item__watch-button mt-3 d-flex justify-content-lg-start justify-content-center">
                            <a class="btn p-3 w-50" href="#">Смотреть кейс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-item mt-5 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="case-item__img">
                            <img src="~/img/learncourses.jpg" alt="imagesite">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5 class="mt-3 case-item__header">Учебная платформа</h5>
                        <div class="case-item__about mt-3">
                            Платформа, предназначенная для обучения через онлайн платформу, которая предоставляет
                            пользователям доступ к готовым курсам
                        </div>
                        <div class="case-item__watch-button mt-3 d-flex justify-content-lg-start justify-content-center">
                            <a class="btn p-3 w-50" href="#">Смотреть кейс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pb-5">
    <div class="container-xl benefits-block">
        <h3 class="header-section text-center text-lg-start">Наши преимущества</h3>
        <div class="mt-5">
            <div class="row">
                <div class="benefits-item mt-3 d-lg-block d-none">
                    <div class="d-flex justify-content-center container">
                        <div class="row">
                            <div class="col-2 col-lg-3 p-0 d-flex justify-content-center">
                                <div class="benefits-item__number">1</div>
                            </div>
                            <div class="col p-0 benefits-item__description d-flex align-items-center">
                                Профессиональные разработчики
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-lg-none d-block benefits-item mt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-2 col-lg-3 p-0 d-flex align-items-start justify-content-lg-start justify-content-center">
                                <div class="benefits-item__number">1</div>
                            </div>
                            <div class="col p-0 text-center benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                Профессиональные разработчики
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 order-lg-0 d-flex flex-lg-column flex-column-reverse order-2 col-12 align-items-between align-items-lg-start  justify-content-center benefits__sidewall-left">
                    <div class="benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">8</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Самописные сайты
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">7</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Соблюдение сроков
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex align-items-start justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">6</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Современные технологии
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-none d-block benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex align-items-start justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">5</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Современный дизайн
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-lg-1 order-1">
                    <div class="benefits__img p-3">
                        <img src="~/img/benefits.png" alt="logo">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1 order-0 d-flex flex-lg flex-column col-12 align-items-between align-items-lg-end justify-content-center benefits__sidewall-right">
                    <div class="benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">2</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Адаптивная верстка
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">3</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Фиксированная цена
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-item mt-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 col-lg-3 p-0 d-flex align-items-start justify-content-lg-start justify-content-center">
                                    <div class="benefits-item__number">4</div>
                                </div>
                                <div class="col p-0 benefits-item__description d-flex align-items-lg-start align-items-center justify-content-center">
                                    Высокая конверсия
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-lg-block d-none benefits-item mt-3">
                    <div class="d-flex justify-content-center container">
                        <div class="row">
                            <div class="col-2 col-lg-3 p-0 d-flex justify-content-center">
                                <div class="benefits-item__number">5</div>
                            </div>
                            <div class="col p-0 benefits-item__description d-flex align-items-center">
                                Современный дизайн
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pb-5 container-xl stages-block">
    <h3 class="header-section text-center text-lg-start">Этапы создания веб-сайта</h3>
    <div class="row mt-5 pb-5">
        <div class="col-12 col-lg-4 mt-5">
            <div class="stage-item p-4">
                <h5 class="stage-item__header">
                    <span class="stage-item__header-number">1</span> Оплата и составление договора ТЗ
                </h5>
                <div class="stage-item__description mt-3">
                    После оплаты с Вами связывается менеджер и Вы согласовываете все этапы, необходимые для разработки веб-сайта. Договор придет на электронную почту
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="stage-item p-4">
                <h5 class="stage-item__header">
                    <span class="stage-item__header-number">2</span> Изучение рынка и целевой аудитории
                </h5>
                <div class="stage-item__description mt-3">
                    Согласно техническому заданию погружаемся в бизнес клиента, при этом изучая конкурентов на рынке и целевую аудиторию проекта, определяя сильные и слабые стороны
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="stage-item p-4">
                <h5 class="stage-item__header">
                    <span class="stage-item__header-number">3</span> Разработка структуры проекта
                </h5>
                <div class="stage-item__description mt-3">
                    Прорабатываем скелет иерархии веб-сайта, создавая при этом уникальные тексты в виде выделения ключевых особенностей бизнеса, выделяя на фоне остальных проектов
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="stage-item p-4">
                <h5 class="stage-item__header">
                    <span class="stage-item__header-number">4</span> Проектирование макета сайта
                </h5>
                <div class="stage-item__description mt-3">
                    С помощью инструментов для создания графического дизайна составляем макеты, на которых будет отражен общий вид, структура и текстовое содержание сайта
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="stage-item p-4">
                <h5 class="stage-item__header">
                    <span class="stage-item__header-number">5</span> Верстка проекта по дизайну
                </h5>
                <div class="stage-item__description mt-3">
                    После согласования макета сайта с клиентом, верстаем проект с учетом адаптивности для разных разрешений (Компьютеры, планшеты, мобильные телефоны)
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="stage-item p-4">
                <h5 class="stage-item__header">
                    <span class="stage-item__header-number">6</span> Программирование и подключение анимации
                </h5>
                <div class="stage-item__description mt-3">
                    На этом этапе программируем взаимодействие с базой данных, используя при этом актуальные и современные технологии, а также подключаем интерактивную анимацию
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pb-5 container-xl price-block">
    <h3 class="header-section text-center text-lg-start">Прайс-лист</h3>
    <div class="row justify-content-center mt-5 pb-5">
        <div class="col-12 col-lg-4 mt-5">
            <div class="price-item">
                <h5 class="price-item__header">
                    Лендинг (Сайт-визитка)
                </h5>
                <div class="price-item__description mt-3">
                    Разработка продающего сайта с индивидуальным дизайном, уникальными текстами, которые гарантируют высокую конверсионную систему
                </div>
                <div class="border-bottom mt-5"></div>
                <div class="price-item__price mt-3">
                    25 000 руб.
                </div>
                <div class="price-item__buyButton button-project mt-5">
                    <a class="btn btn-primary p-3 w-100" href="#">Оплатить</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="price-item">
                <h5 class="price-item__header">
                    Интернет магазин
                </h5>
                <div class="price-item__description mt-3">
                    Широкий и удобный функционал для торговой плащадки любого масштаба с подключением системы оплаты, интеграции, а также оповещений
                </div>
                <div class="border-bottom mt-5"></div>
                <div class="price-item__price mt-3">
                    50 000 руб.
                </div>
                <div class="price-item__buyButton button-project mt-5">
                    <a class="btn btn-primary p-3 w-100" href="#">Оплатить</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="price-item">
                <h5 class="price-item__header">
                    Корпоративный проект
                </h5>
                <div class="price-item__description mt-3">
                    Разработка веб-сайта любого масштаба, который необходим под корпоративные нужды компании с ведением документооборота
                </div>
                <div class="border-bottom mt-5"></div>
                <div class="price-item__price mt-3">
                    25 000 руб.
                </div>
                <div class="price-item__buyButton button-project mt-5">
                    <a class="btn btn-primary p-3 w-100" href="#">Оплатить</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="price-item">
                <h5 class="price-item__header">
                    Доработка проекта
                </h5>
                <div class="price-item__description mt-3">
                    Вы всегда сможете заказать сопровождение, в случае необходимости внесения правок или существенных доработок
                </div>
                <div class="border-bottom mt-5"></div>
                <div class="price-item__price mt-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Количество рабочих дней</label>
                        <select class="form-control mt-3" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
                <div class="price-item__buyButton button-project mt-5">
                    <a class="btn btn-primary p-3 w-100" href="#">Оплатить</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form-questions">
    <div class="container">
        <div class="row">
            <h3 class="header-text text-center mt-3">Остались вопросы?</h3>
            <h5 class="mt-3 text-center">Оставьте заявку ниже и мы с вами обязательно свяжемся!</h5>
            <div class="container mt-3 mb-5">
                <div class="row">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="name">Ваше имя:</label>
                            <input name="name" class="form-control" id="name" placeholder="Имя">
                        </div>
                        <div class="form-group mt-3">
                            <label for="email1">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email1" placeholder="Email">
                        </div>
                        <div class="form-group mt-3">
                            <label for="phone">Номер телефона:</label>
                            <input name="phone" class="form-control" id="phone" placeholder="Телефон">
                        </div>
                        <div class="form-group mt-3">
                            <label for="message">Сообщение:</label>
                            <textarea class="form-control" name="message" rows="5"></textarea>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-muted" for="flexCheckDefault">
                                <a class="text-decoration-none" href="#" target="_blank">Согласен с политикой защиты данных</a>
                            </label>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn p-2 btn-primary">Отправить сообщение</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>