@{
    ViewData["Title"] = "Контактные данные";
}

<div class="container text-content">
    <h1 class="pt-3">ООО «Просто Кэмп»</h1>
    <div>
        <p>
            <b>Полное наименование:</b> Общество с ограниченной ответственностью
            «Просто Кэмп»
        </p>
        <p>
            <b>Сокращенное наименование:</b> ООО «Просто Кэмп»
        </p>
        <p><b>Юридический/Почтовый адрес:</b> 125368, г. Москва, ул. Барышиха, д. 18, ЭТ 1 ПОМ 3 КОМ 5</p>
        <p><b>ИНН:</b> 7733353585</p>
        <p><b>КПП:</b> 773301001</p>
        <p><b>ОГРН:</b> 1207700123795 от  18.03.2020</p>
        <p><b>Банк:</b> ПАО СБЕРБАНК</p>
        <p><b>Расчетный счет:</b> 4070281063800025743</p>
        <p><b>БИК Банка:</b> 044525225</p>
        <p><b>Телефон/факс:</b> +7-962-900-79-65</p>
        <p><b>e-mail</b> admin:kempsoft.ru</p>
        <p><b>Генеральный директор:</b> Лунёв Алексей Михайлович</p>
    </div>
</div>
